html{
    box-sizing: border-box;
}
*, *:before *:after{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    /* border: 2px solid red; */
    font-family: 'Instrument Sans', 'Pangolin';


}
ul, li{
    list-style: none;
}

.grid-container{
    display: grid;
    /* grid-template-columns: 200px 600px 200px; */
    grid-template-columns: 1fr 3fr 1fr;
}
header{
        /* border: 2px solid red; */
    grid-column: span 3;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
nav{
      /* border: 2px solid red; */
    padding: 3rem;
    border-right: 1px solid #ddd;
}
nav li{
    text-decoration: underline;
}

article{
    /* border: 2px solid red; */
    padding: 2.8rem;
}
article h2{
    /* border: 2px solid red; */
    font-size: 2.8rem;
    width: 600px;
}
article img{
    width: 100%;
}
article p{
    color: #7b6f6f;
    margin-top: 2.6rem ;
    line-height: 2rem;
    font-size: 1.2rem;
}
aside{
    padding: 2rem;
    border-left:  1px solid #ddd;
}
footer{
    grid-column: span 3;
    text-align: center;
    border-top:  1px solid #ddd;
    padding: 2rem;
}

/* Responsive */
@media(max-width: 1200px){
    nav{
        grid-column: span 3;
        padding: 1.4rem;
        border-right:0;
        border-bottom: 1px solid #ddd;
    }
    nav li{
        display: inline-block;
        margin-right: 0.7rem;
      
    }
    article{
        grid-column: span 2;
    }
    aside{
        padding-top: 0.5rem;
     
    }
}
@media(max-width: 880px){
nav, article, aside{
    grid-column: span 3;
}
aside{
    border-top: 1px solid #ddd;
    border-left: none;
}
}
@media(max-width: 630px){
  
    article h2{
        /* border: 2px solid red; */
        font-size: 1.5rem;
        font-weight: bold;
        width: 350px;
        margin-top: 0 ;
    }
}



















